<template>
	<div v-if="game.dice" class="dice-container">
		<img :src="firstDie" :alt="game.dice.firstDie">
		<img :src="secondDie" :alt="game.dice.secondDie">
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'dice',

	computed: {
		...mapState([
      'game'
		]),

		firstDie() {
			if (this.$store.state.game.dice.firstDie) {
				return require(`@/assets/die-${this.$store.state.game.dice.firstDie}.svg`)
			} else {
				return require('@/assets/die-6.svg')
			}
		},

		secondDie() {
			if (this.$store.state.game.dice.firstDie) {
				return require(`@/assets/die-${this.$store.state.game.dice.secondDie}.svg`)
			} else {
				return require('@/assets/die-6.svg')
			}
		},
	},
}
</script>

<style lang="scss" scoped>
.dice-container {
	display: flex;

	img {
		width: 128px;
	}
}
</style>
