<template>
	<div
		class="field flex flex-col border border-solid border-black cursor-pointer"
		@click="setCardModalField"
	>
		<div class="colorbox" v-if="field.type === 'street'" :style="color">
			<div v-if="field.houses > 0" class="h-full">
				<!-- Houses -->
				<div v-if="field.houses < 5" class="flex h-full justify-around items-center" >
					<div v-for="house in field.houses" :key="house" class="house shadow-2xl"></div>
				</div>

				<!-- Hotels -->
				<div v-else class="flex h-full justify-around items-center" >
					<div class="hotel shadow-2xl"></div>
				</div>
			</div>
		</div>

		<div class="flex flex-col h-full">
			<!-- Field Name -->
			<div class="item">
				{{ field.name }}
			</div>

			<!-- Players -->
			<div class="item">
				<div
					v-for="player in players"
					:key="player.id"
					:style="{ 'background-color': player.color }"
					class="px-2 py-1 mx-1 inline-block font-bold text-xs text-white rounded-full"
				>
					{{ player.name }}
				</div>
			</div>

			<!-- Property Price -->
			<div class="item" v-if="field.price">
				DM {{ field.price }}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'field',

	props: {
		field: Object,
	},

	methods: {
		setCardModalField() {
			this.$emit('setCardModalField', this.field)
		},
	},

	computed: {
		players() {
			return this.$store.state.game.players.filter((player) => player.currentField.id === this.field.id)
		},

		color() {
			return {
				'background-color': this.field.group.color,
			}
		},

		isHouse() {
			return this.field.houses < 5
		}
	},
}
</script>

<style lang="scss" scoped>
.field {
	height: calc(100vh / 11);
}

.colorbox {
	min-height: 26px;
}

.item {
	margin: auto 5px;
	font-weight: light;
	font-size: calc(0.5em + 0.35vw);
	text-align: center;
	overflow: hidden;
	word-wrap: break-word;
}

.house,
.hotel {
	display: inline-block;
}

.house {
	$color: rgb(50, 200, 50);
	width: 16px;
	height: 16px;
	background-color: $color;
	border: 1px solid darken($color, 30%);
}

.hotel {
	$color: rgb(200, 50, 50);
	width: 22px;
	height: 22px;
	background-color: $color;
	border: 1px solid darken($color, 30%);
}
</style>
