<template>
	<div class="free-space flex p-4">
		<players-sheet @setCardModalField="(payload) => $emit('setCardModalField', payload)"></players-sheet>
		<div>
			<dice></dice>
			<div v-if="myTurn">
				<button
					v-if="WAITING_PLAYER_ROLL"
					@click="rollDice"
					class="bg-gray-300 hover:bg-gray-400 font-bold py-2 px-4 rounded-full"
				>Würfeln</button>
				<button
					v-if="WAITING_PLAYER_END_TURN"
					@click="endTurn"
					class="bg-gray-300 hover:bg-gray-400 font-bold py-2 px-4 rounded-full"
				>Zug beenden</button>
			</div>
		</div>
	</div>
</template>

<script>
import PlayersSheet from '@/components/PlayersSheet'
import Dice from '@/components/Dice'

export default {
	name: 'free-space',

	components: {
		PlayersSheet,
		Dice,
	},

	methods: {
		rollDice() {
			this.$store.dispatch('rollDice')
		},

		endTurn() {
			this.$store.dispatch('endTurn')
		},
	},

	computed: {
		myTurn() {
			return this.$store.state.playerId === this.$store.state.game.currentPlayer.id
		},

		WAITING_PLAYER_ROLL() {
			return this.$store.state.game.state.name === 'WAITING_PLAYER_ROLL'
		},

		WAITING_PLAYER_END_TURN() {
			return this.$store.state.game.state.name === 'WAITING_PLAYER_END_TURN'
		},
	},
}
</script>

<style lang="scss" scoped>
.free-space {
	grid-column: 2 / 11;
	grid-row: 2 / 11;
}

.players {
  max-width: 75%;
}
</style>
