<template>
	<div class="flex flex-auto">
		<div class="mx-2" v-for="player in game.players" :key="player.id">
			<div class="rounded-full w-full" :style="style(player)">
				<h1 class="text-center text-2xl">{{ player.name }}</h1>
			</div>

			<div>
				<p class="text-center text-xl my-3">{{ player.money }} DM</p>
			</div>

			<div class="flex flex-col">
				<small-property-card
					v-for="property in player.properties"
					:key="property.id"
					:property="property"
					@setCardModalField="(payload) => $emit('setCardModalField', payload)"
					class="mb-1"
				></small-property-card>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'

import { isLight } from '@/utils/color'

import SmallPropertyCard from '@/components/SmallPropertyCard'

export default {
	name: 'players-sheet',

	components: {
		SmallPropertyCard,
	},

	computed: {
		...mapState([
			'game',
		]),

		style() {
			return (player) => {
				let bgColor = player.color
				let isSelf = this.$store.state.playerId === player.id
				return {
					'background-color': bgColor,
					'color': isLight(bgColor) ? 'black' : 'white',
					'font-weight': isSelf ? 'bold' : 'normal',
				}
			}
		}
	},
}
</script>

<style lang="scss" scoped>
</style>
