<template>
	<div>
		<div
			class="small-property-card text-center cursor-pointer font-bold p-1"
			:style="style"
			@click="$emit('setCardModalField', property)"
		>
			<span class="property-name">
				{{ property.name }}
			</span>
		</div>
	</div>
</template>

<script>
import { isLight } from '@/utils/color'

export default {
	name: 'small-property-card',

	props: {
		property: Object,
	},

	computed: {
		style() {
			let bgColor = this.property.group ? this.property.group.color : '#ffffff'
			return {
				'background-color': bgColor,
				'color': isLight(bgColor) ? 'black' : 'white',
			}
		},
	},
}
</script>

<style lang="scss" scoped>
.small-property-card {
	width: 100%;
}
</style>
