<template>
	<div>
		<div class="text-center m-2 uppercase">
			<img class="img" src="@/assets/train-station.jpg">
			<p class="mb-2 mt-3 text-xl font-bold">
				{{ field.name }}
			</p>
			<p class="font-bold">
				Besitzrechtkarte
			</p>
		</div>
		<div class="content-container">
			<div class="mx-3 my-2">
				<table>
					<tr>
						<td>Grundstückswert</td>
						<td class="text-right">DM {{ field.price }}</td>
					</tr>
					<tr>
						<td>MIETE</td>
						<td class="text-right">DM 500</td>
					</tr>
					<tr>
						<td>
							Wenn man <br>
							2 Bahnhöfe besitzt
						</td>
						<td class="text-right">DM 1000</td>
					</tr>
					<tr>
						<td>
							Wenn man <br>
							3 Bahnhöfe besitzt
						</td>
						<td class="text-right">DM 2000</td>
					</tr>
					<tr>
						<td>
							Wenn man <br>
							4 Bahnhöfe besitzt
						</td>
						<td class="text-right">DM 4000</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="text-center mb-2">
			Der Hypothekenwert des Grundstückes beträgt DM {{ field.price / 2 }}
		</div>
	</div>
</template>

<script>
export default {
	name: 'station-card',

	props: {
		field: Object,
	},
}
</script>

<style lang="scss" scoped>
.content-container {
	height: 100%;
	margin: 10px 5px;
}

.img {
	max-width: 50%;
	margin: 10px auto;
}

table {
	width: 100%;
	border-collapse:separate;
  border-spacing: 0 8px;
}
</style>
