<template>
	<div>
		<div class="title-container text-center m-2 uppercase border border-solid border-black" :style="style">
			<p class="my-3">Besitzrechtkarte</p>
			<p class="my-3 text-xl font-bold">{{ field.name }}</p>
		</div>
		<div class="content-container">
			<div class="mx-3 my-2">
				<table>
					<tbody>
						<tr>
							<td colspan="2">Grundstückswert</td>
							<td class="text-right">DM {{ field.price }}</td>
						</tr>
						<tr>
							<td>Miete</td>
							<td>Grundstück allein</td>
							<td class="text-right">{{ field.rent[0] }}</td>
						</tr>
						<tr>
							<td class="text-center">"</td>
							<td>mit 1 Haus</td>
							<td class="text-right">{{ field.rent[1] }}</td>
						</tr>
						<tr>
							<td class="text-center">"</td>
							<td>mit 2 Häusern</td>
							<td class="text-right">{{ field.rent[2] }}</td>
						</tr>
						<tr>
							<td class="text-center">"</td>
							<td>mit 3 Häusern</td>
							<td class="text-right">{{ field.rent[3] }}</td>
						</tr>
						<tr>
							<td class="text-center">"</td>
							<td>mit 4 Häusern</td>
							<td class="text-right">{{ field.rent[4] }}</td>
						</tr>
						<tr>
							<td class="text-center">"</td>
							<td>mit 1 HOTEL</td>
							<td class="text-right">{{ field.rent[5] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			<div class="mx-3 my-2 text-justify">
				Wenn ein Spieler <b>alle</b> Grundstücke einer Farbengruppe besitzt, so ist die Miete auf den <b>unbebauten Grunstücken</b> dieser Farbengruppe <b>doppelt</b> so hoch.
			</div>
			<hr>
			<div class="mx-3 my-2">
				<table class="text-center font-bold">
					<tbody>
						<tr>
							<td>
								1 Haus
							</td>
							<td>
								kostet
							</td>
							<td></td>
							<td>
								DM {{ field.group.housePrice }}
							</td>
						</tr>
						<tr>
							<td>
								1 Hotel
							</td>
							<td>
								"
							</td>
							<td>4 Häuser u.</td>
							<td>
								DM {{ field.group.housePrice }}
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
					Der Hypothekenwert des Grundstückes beträgt DM {{ field.price / 2 }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { isLight } from '@/utils/color'

export default {
	name: 'street-card',

	props: {
		field: Object,
	},

	computed: {
		style() {
			let bgColor = this.field.group ? this.field.group.color : '#ffffff'
			return {
				'background-color': bgColor,
				'color': isLight(bgColor) ? 'black' : 'white',
			}
		},
	}
}
</script>

<style lang="scss" scoped>
.title-container {
	height: 20%;
}

.content-container {
	height: 100%;
	margin: 10px 5px;
}


table {
	width: 100%;
	margin-bottom: 10px;
}
</style>
