<template>
	<div>
		<div class="text-center m-2 uppercase">
			<img class="img" :src="cardImg" :alt="field.name">
			<p class="mb-2 mt-3 text-xl font-bold">
				{{ field.name }}
			</p>
			<p class="font-bold">
				Besitzrechtkarte
			</p>
		</div>
		<div class="content-container">
			<div class="mx-3 my-2">
				<table>
					<tr>
						<td>Grundstückswert</td>
						<td class="text-right">DM {{ field.price }}</td>
					</tr>
				</table>
				<p class="text-center mb-3">
					Wenn man Besitzer des Wasserwerks ist, so ist die Miete 80-mal so hoch, wie Augen auf den zwei Würfeln sind.
				</p>
				<p class="text-center">
					Wenn man Besitzer beider Versorgungswerke ist, so ist die Miete 200-mal so hoch, wie Augen auf den zwei Würfeln sind.
				</p>
			</div>
		</div>
		<div class="text-center mb-2">
			Der Hypothekenwert des Grundstückes beträgt DM {{ field.price / 2 }}
		</div>
	</div>
</template>

<script>
export default {
	name: 'utility-card',

	props: {
		field: Object,
	},

	computed: {
		cardImg() {
			if (this.field.id === 12) {
				return require(`@/assets/electric-utility.png`)
			} else if (this.field.id === 28) {
				return require(`@/assets/water-utility.jpg`)
			} else {
				return
			}
		},
	}
}
</script>

<style lang="scss" scoped>
.content-container {
	height: 100%;
	margin: 10px 5px;
}

.img {
	max-width: 50%;
	margin: 10px auto;
}

table {
	width: 100%;
	border-collapse:separate;
  border-spacing: 0 8px;
}
</style>
