<template>
	<div class="property-card">
		<div class="property-content">
			<component v-if="type" :is="type" :field="field"></component>
		</div>
	</div>
</template>

<script>
import StreetCard from '@/components/cards/properties/StreetCard'
import StationCard from '@/components/cards/properties/StationCard'
import UtilityCard from '@/components/cards/properties/UtilityCard'

export default {
	name: 'property-card',

	props: {
		field: Object,
	},

	computed: {
		type() {
			if (this.field.type === 'street') {
				return StreetCard
			} else if (this.field.type === 'station') {
				return StationCard
			} else if (this.field.type === 'utility') {
				return UtilityCard
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.property-card {
	width: 375px;
	padding: 14px;
	background-color: white;
	flex: 0;
}

.property-content {
	height: 100%;
	width: 100%;
	border: 1px solid #000;
}
</style>
