<template>
	<div id="app">
		<div v-if="game">
			<div class="grid-container">
				<!-- Top Row -->
				<field
					v-for="i in 11"
					:key="i - 1"
					:field="getFieldById(i - 1)"
					@setCardModalField="setCardModalField"
				></field>

				<!-- Left Column -->
				<div class="col">
					<field
						v-for="i in 9"
						:key="40 - i"
						:field="getFieldById(40 - i)"
						@setCardModalField="setCardModalField"
					></field>
				</div>

				<free-space	@setCardModalField="setCardModalField"></free-space>

				<!-- Right Column -->
				<div class="col">
					<field
						v-for="i in 9"
						:key="10 + i"
						:field="getFieldById(10 + i)"
						@setCardModalField="setCardModalField"
					></field>
				</div>

				<!-- Bottom Row -->
				<field
					v-for="i in 11"
					:key="31 - i"
					:field="getFieldById(31 - i)"
					@setCardModalField="setCardModalField"
				></field>
			</div>

			<div>
				<!-- Dynamic Modals -->
				<card-modal
					:field="modalField"
					@setCardModalField="setCardModalField"
				></card-modal>

				<!-- Static Modals Modals -->
				<buy-property-modal></buy-property-modal>
				<pay-rent-modal></pay-rent-modal>
			</div>
		</div>
		<div v-else>
			pls join a game
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

import Field from '@/components/Field'
import FreeSpace from '@/components/FreeSpace'

import CardModal from '@/components/modals/CardModal'
import BuyPropertyModal from '@/components/modals/BuyPropertyModal'
import PayRentModal from '@/components/modals/PayRentModal'

export default {
	components: {
		Field,
		FreeSpace,
		CardModal,
		BuyPropertyModal,
		PayRentModal,
	},

	data: () => ({
		modalField: null,
	}),

	methods: {
		setCardModalField(field) {
			if (field === null || field.type === 'street' || field.type === 'station' || field.type === 'utility') {
				this.modalField = field
			}
		},
	},

	computed: {
		...mapState([
			'game',
		]),
		...mapGetters([
			'getFieldById'
		]),
	},
}
</script>

<style lang="scss">
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family: 'Montserrat';
	font-size: 15px;
}

.grid-container {
	display: grid;
	grid-template-rows: repeat(11, 1fr);
	grid-template-columns: repeat(11, 1fr);
}

.col {
	grid-row: 2 / 11;
}
</style>
