<template>
	<div v-if="modal.show" class="modal-container">
		<div class="content">
			<div class="border-b border-solid border-black pb-4 text-3xl font-bold">
				<h2>Grundstück kaufen?</h2>
			</div>
			<div class="description border-b border-solid border-black">
				<div class="description-text">
					<p>
						Dieses Grundstück steht <b>zum Verkauf</b>!
					</p>
					<br>
					<p>
						Wenn du dieses Grundstück nicht kaufst, wird es stattdessen <b>versteigert</b>. Du kannst bei der Versteigerung ebenfalls mitbieten.
					</p>
					<br>
					<p>
						Möchtest du das Grundstück kaufen?
					</p>
				</div>
				<div class="description-card">
					<property-card :field="modal.property"></property-card>
				</div>
			</div>
			<div class="flex justify-between pt-4">
				<button
					class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full"
					@click="buy"
				>Kaufen</button>

				<button
					class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
					@click="dontBuy"
				>NICHT kaufen</button>
			</div>
		</div>

	</div>
</template>

<script>
import PropertyCard from '@/components/cards/PropertyCard'

export default {
	name: 'buy-property-modal',

	components: {
		PropertyCard,
	},

	props: {
		property: Object
	},

	methods: {
		buy() {
			this.$store.dispatch('buyProperty')
		},

		dontBuy() {

		},
	},

	computed: {
		modal() {
			return this.$store.state.modals.buyPropertyModal
		},
	},
}
</script>

<style lang="scss" scoped>
.modal-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
	width: 800px;
	padding: 20px;
	background-color: white;
}

.description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	.description-text {
		width: 40%;
	}
}
</style>
