<template>
	<div v-if="field" class="modal-container" @click.self="hideCard">
		<div class="card">
			<div v-if="field.type === 'street'">
				<button
					@click="buyHouse"
					:disabled="!canBuild"
					class="bg-white font-semibold p-2"
					:class="{
						'hover:bg-gray-300': canBuild,
					}"
				>Haus bauen</button>
			</div>

			<div>
				<property-card :field="field"></property-card>
			</div>
		</div>
	</div>
</template>

<script>
import PropertyCard from '@/components/cards/PropertyCard'

import { mapGetters } from 'vuex'

export default {
	name: 'card-modal',

	props: {
		field: Object,
	},

	components: {
		PropertyCard,
	},

	methods: {
		hideCard() {
			this.$emit('setCardModalField', null)
		},

		buyHouse() {
			this.$store.dispatch('buyHouse', this.field.id)
		},
	},

	computed: {
		canBuild() {
			let player = this.$store.state.game.players.find((player) => player.id === this.$store.state.playerId)

			let ownedProperty = player.properties.find((property) => property.id === this.field.id)

			if (!ownedProperty) return false
			if (player.money < this.field.group.housePrice) return false

			console.log(player.money, this.field.group.housePrice)

			return true
		}
	}
}
</script>

<style lang="scss" scoped>
.modal-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.card {
	position: absolute;
	left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
}

button:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
</style>
