<template>
	<div v-if="modal.show" class="container">
		<div class="content">
			<div class="title">

			</div>
			<div class="description">

			</div>
			<hr>
			<div class="actions">
				<button @click="okay">Okay</button>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'pay-rent-modal',

	methods: {
		okay() {
			this.$store.commit('payRentModal', { show: false })
		},
	},

	computed: {
		modal() {
			return this.$store.state.modals.payRentModal
		},
	},
}
</script>

<style lang="scss" scoped>
.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	min-width: 500px;
	padding: 20px;
	background-color: white;
}

.description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	.description-text{
		width: 40%;
	}
}
</style>
